<section class="mx-auto mt-12">
  <script
    src="https://giscus.app/client.js"
    data-repo="juangcarmona/jgcarmona.com"
    data-repo-id="R_kgDOQfZC7w"
    data-category="[ENTER CATEGORY NAME HERE]"
    data-category-id="[ENTER CATEGORY ID HERE]"
    data-mapping="og:title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="dark_protanopia"
    data-lang="en"
    crossorigin="anonymous"
    async
  ></script>
</section>
